## start: kubeadm.sh

# swap must be disabled for kubelet to work properly
sudo swapoff -a

#
# Install kubeadm
#
# For more information, see:
# https://kubernetes.io/docs/setup/independent/install-kubeadm/

curl -fsSL https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
sudo add-apt-repository \
   "deb http://apt.kubernetes.io/ \
   kubernetes-$(lsb_release -cs) \
   main"
sudo apt-get update -y
sudo apt-get install -y kubelet={{ cluster["kubernetesVersion"] }}-00 \
                        kubeadm={{ cluster["kubernetesVersion"] }}-00 \
                        kubectl={{ cluster["kubernetesVersion"] }}-00
# prevent dist-upgrade from installing new versions of these packages
sudo apt-mark hold kubelet kubeadm kubectl

# Verify kubeadm installation
kubeadm version

{% if cluster["hooks"].get("cloudProviderConfig") %}
# Add cloud-provider config (if one is required by the cloudprovider)
sudo tee /etc/kubernetes/cloud-config.json > /dev/null <<EOF
{% include "hooks/cloudconfig/" + cluster["hooks"].get("cloudProviderConfig") %}
EOF
{% endif %}



## end: kubeadm.sh
